.best{
    background-image: url(../img/Топ\ 10\ \(1\).png);
   background-size: cover ;
   background-position: center;
   margin-top: 50px;
   padding-bottom: 122px;
}
.best-title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 36px;
text-align: center;
color: var(--color-text-cart-h3-light);
padding-top: 60px;
margin-bottom: 40px;
}
.best-list{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.best-list-item{
border: 4px solid var(--color-cart-btn);
border-radius: 24px;
padding: 6px 12px;
width: 264px;
height: 249px;
background: var(--color-text-cart-h3-light);

}

.best-list-item-img{
    display: block;
    margin: 0 auto;
}
.best-list-item-box-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.best-list-item-box-1-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--color-text-cart-h3);
}
.best-list-item-box-1-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
text-align: center;
color: var(--color-text-cart-h3);
}
.best-list-item-box-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.best-list-item-box-1-price{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--color-text--h1);
}
.best-list-item-box-1-btn{
display: flex;
align-items: center;
justify-content: center;
    border: none;
    background: transparent;
    border-radius: 24px;
    width: 24px;
    height: 24px;
background: var(--color-cart-btn-2);
}