.delivery {
  max-width: 981px;
  margin: 0 auto;
  margin-top: 104px;
}
.delivery-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  border: 4px solid var(--color-text-cart-h3);
  border-radius: 50px;
  padding: 30px 50px;
  width: 981px;
  height: 356px;
  margin-bottom: 50px;
}
.delivery-box-left-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;

  color: #000;
  margin-bottom: 20px;
}
.delivery-box-left-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-cart-h5);
  max-width: 446px;
}
.delivery-payment-box {
  border: 4px solid var(--color-text-cart-h3);
  border-radius: 50px;
  padding: 30px 50px;
  width: 981px;
  height: 397px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 183px;
}
.delivery-payment-box-right-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-bottom: 10px;
}
.delivery-payment-box-right-title-list {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-bottom: 30px;
  margin-left: 50px;
}
.delivery-payment-box-right-list {
  list-style: square;
  margin-bottom: 25px;
}
.delivery-payment-box-right-list-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-left: 50px;
  max-width: 556px;
}
.delivery-payment-box-right-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-left: 20px;
}
