.header-nav {
  margin: 0 auto;
  padding-top: 36px;
  display: flex;
  align-items: center;
  max-width: 1222px;
  position: relative;
}
.header-nav-logo {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  text-align: center;
  background: linear-gradient(180deg, #f2bf35 0.96%, #b53a2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 205px;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-right: 258px;
}
.header-nav-list-item-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-cart-h3);

  text-decoration: none;
}
.header-nav-btn-bucket {
  background: transparent;
  border: none;
  margin-right: 12px;
  position: relative;
}
.header-nav-btn-bucket-number {
  position: absolute;
  top: 18px;
  right: 0;
  border-radius: 50px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  background: var(--osnovnі-kolori-highlight);
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--osnovnі-kolori-text-light);
}
.header-nav-btn-login {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-cart-h3);
  margin-right: 18px;
  border: none;
  background: transparent;
}
.header-nav-btn-register {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  border: none;
  color: var(--color-text-cart-h3-light);
  background: var(--color-cart-btn);
  border: 1px solid var(--color-text-cart-h3);
  border-radius: 100px;
  padding: 5px 20px;
  width: 176px;
  height: 34px;
}
.header-nav-bucket {
  border-radius: 0 0 50px 50px;
  width: 450px;
  height: 694px;
  background: var(--color-baskground-cart-2);
  position: fixed;
  top: 104px;
  right: 0;
  z-index: 10;
  display: none;
}
.active-bucket{
    display: block;
}
.header-nav-bucket-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-cart-h3-light);
  margin-top: 25px;
  margin-bottom: 16px;
}
.header-nav-bucket-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.header-nav-bucket-list-item {
  border-radius: 30px;
  padding: 10px;

  background: var(--color-text-cart-h5light);
  position: relative;

  width: clamp(330px, 50%, 800px);
}
.header-nav-bucket-list-item-right-close-btn {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
}
.header-nav-bucket-list-item-box {
  display: flex;
  align-items: center;

  gap: 8px;
}
.header-nav-bucket-list-item-box-img {
  display: block;
  width: 100px;
  height: 80px;
}
.header-nav-bucket-list-item-box-middle-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-bottom: 9px;
}
.header-nav-bucket-list-item-box-middle-price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}
.header-nav-bucket-list-item-box-middle-weight {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000;
}
.header-nav-bucket-list-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-nav-bucket-list-item-box-right {
position: absolute;
bottom: 10px;
right: 10px;
    display: flex;
    align-items: center;
    gap: 14px;
  border-radius: 11px;
  padding: 0px 4px;
  width: 92px;
  height: 44px;
  background: var(--color-baskground);
}
.btn {
    border: none;
    background: transparent;
    font-weight: 400;
 font-size: 30px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 24px;
    padding: 0;
}
svg{
    height: 24px;
    width: 24px;
}
.span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}
.btn-1 {
  color: #000;
   border: none;
    background: transparent;
      font-weight: 400;
 font-size: 30px;
   max-width: 24px;
      display: flex;
    align-items: center;
    justify-content: center;
}
.order-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}
.order-box-text{
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
color: var(--color-text-cart-h3-light);
}
.order-box-price{
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
color: var(--color-text-cart-h3-light);
}
.order-btn{
    display: block;
    margin: 0 auto;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
text-align: center;
color: var(--color-text-cart-h3);
border-radius: 50px;
padding: 10px 30px;
width: 157px;
height: 44px;
border: none;
background: var(--color-baskground-cart-1);
margin-top: 51px;
}
.header-nav-pop-up {
  display: none;
  position: absolute;
  top: 80px;
  right: 20px;
  border: 3px solid var(--color-elementi);
  border-radius: 0 0 50px 50px;
  padding: 24px 61px;
  width: 472px;
  height: 542px;
  background: var(--color-baskground);
}
.header-nav-pop-up-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-top: 34px;
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.header-nav-pop-up-title-number {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
}
.header-nav-pop-up-input {
  border: 2px solid var(--color-text-cart-h3);
  border-radius: 10px;
  padding: 10px 14px;
  width: 350px;
  height: 56px;
  background: var(--color-text-cart-h3-light);
  margin-bottom: 80px;
}
.header-nav-pop-up-btn {
  margin: 0 auto;
  display: block;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  padding: 8px 24px;
  width: 223px;
  height: 40px;
  background: var(--color-cart-btn);
}
.header-box {
  max-width: 1171px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.header-box-left {
  display: flex;
  flex-direction: column;
}
.header-box-left-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 96px;
  line-height: 90%;
  letter-spacing: -0.02em;
  color: var(--color-text--h1);
  margin-bottom: 24px;
  max-width: 729px;
}
.header-box-left-title-font {
  font-size: 86px;
}
.header-box-left-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-transform: lowercase;
  color: var(--color-text-cart-h3);
  max-width: 549px;
  margin-bottom: 40px;
}
.header-box-left-box {
  display: flex;
  align-items: center;
  position: relative;
}
.header-box-left-box-btn {
  background: var(--color-cart-btn);
  border-radius: 100px;
  padding: 10px 15px;
  width: 200px;
  height: 44px;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.header-box-left-box-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 100px;
  background: var(--color-cart-btn-2);
  width: 42px;
  height: 42px;
  margin-right: 24px;
}
.header-box-left-box-img-1 {
  position: relative;
  top: 0;
  left: 0;
}
.header-box-left-box-img-2 {
  position: relative;
  top: 0;
  left: -6px;
}
.header-box-left-box-img-3 {
  position: relative;
  top: 0;
  left: -10px;
}
.header-box-left-box-reviews {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 26px;
}
.header-box-left-box-reviews-text-client {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: var(--color-text-cart-h3);
}
.header-box-left-box-reviews-box {
  display: flex;
  align-items: center;
  gap: 2px;
}
.header-box-left-box-reviews-text {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--color-elementi);
}
.header-box-left-box-reviews-text-font {
  font-size: 14px;
}
