
.header-nav{
    
    margin: 0 auto;
    padding-top: 36px;
    display: flex;
    align-items: center;
   max-width: 1222px;
}
.header-nav-logo{
    font-family: var(--font4);
font-weight: 700;
font-size: 22px;
letter-spacing: -0.05em;
text-transform: capitalize;
text-align: center;
background: linear-gradient(180deg, #f2bf35 0.96%, #b53a2d 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-right: 205px;
}
.header-nav-list{
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 258px;
}
.header-nav-list-item-link{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: var(--color-text-cart-h3);

text-decoration: none;
}
.header-nav-btn-bucket{
    background: transparent;
    border: none;
    margin-right: 12px;
    position: relative;
}
.header-nav-btn-bucket-number{
    position: absolute;
    top: 18px;
    right: 0;
    border-radius: 50px;
    padding: 7px;
display: flex;
align-items: center;
justify-content: center;
width: 12px;
height: 12px;
background: var(--osnovnі-kolori-highlight);
font-family: var(--third-family);
font-weight: 400;
font-size: 12px;
text-align: center;
color: var(--osnovnі-kolori-text-light);
}
.header-nav-btn-login{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: var(--color-text-cart-h3);
margin-right: 18px;
border: none;
background: transparent;
}
.header-nav-btn-register{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
border: none;
color: var(--color-text-cart-h3-light);
background: var(--color-cart-btn);
border: 1px solid var(--color-text-cart-h3);
border-radius: 100px;
padding: 5px 20px;
width: 176px;
height: 34px;
}
.header-box{
    max-width: 1171px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.header-box-left{
    display: flex;
    flex-direction: column;
}
.header-box-left-title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 96px;
line-height: 90%;
letter-spacing: -0.02em;
color: var(--color-text--h1);
margin-bottom: 24px;
max-width: 729px;
}
.header-box-left-title-font{
    font-size: 86px;
}
.header-box-left-text{
    font-family: var(--font-family);
font-weight: 500;
font-size: 25px;
line-height: 150%;
text-transform: lowercase;
color: var(--color-text-cart-h3);
max-width: 549px;
margin-bottom: 40px;
}
.header-box-left-box{
    display: flex;
    align-items: center;
    position: relative;
}
.header-box-left-box-btn{
    background: var(--color-cart-btn);
    border-radius: 100px;
padding: 10px 15px;
width: 200px;
height: 44px;
border: none;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
color: #fff;
}
.header-box-left-box-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100px;
background: var(--color-cart-btn-2);
width: 42px;
height: 42px;
margin-right: 24px;
}
.header-box-left-box-img-1{
    position: relative;
    top: 0;
    left: 0;
}
.header-box-left-box-img-2{
    position: relative;
    top: 0;
    left: -6px;
}
.header-box-left-box-img-3{
    position: relative;
    top: 0;
    left: -10px;
}
.header-box-left-box-reviews{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 26px;
}
.header-box-left-box-reviews-text-client{
font-family: var(--font5);
font-weight: 400;
font-size: 15px;
line-height: 100%;
color: var(--color-text-cart-h3);
}
.header-box-left-box-reviews-box{
   display: flex;
    align-items: center;
    gap: 2px;
}
.header-box-left-box-reviews-text{
    font-family: var(--font5);
font-weight: 400;
font-size: 18px;
line-height: 100%;
text-transform: capitalize;
color: var(--color-elementi);
}
.header-box-left-box-reviews-text-font{
    font-size: 14px;
}
