.product{
    max-width: 1123px;
    margin: 0 auto;
}
.product-box{
    display: flex;
    gap: 50px;
    margin-top: 77px;
    border: 5px solid var(--color-baskground-cart-2);
border-radius: 50px;
padding: 50px;
margin-bottom: 34px;
}
.product-box-right-title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 48px;
color: #000;
margin-bottom: 14px;
}
.product-box-right-text{
font-family: var(--font-family);
font-weight: 500;
font-size: 24px;
line-height: 150%;
color: #000;
max-width: 473px;
margin-bottom: 35px;
}
.product-box-right-box{
    display: flex;
    align-items: center;
    gap: 45px;
}
.product-box-right-left-price{
    font-family: var(--font-family);
font-weight: 500;
font-size: 36px;
text-align: left;
color: var(--color-cart-btn-2);
margin-bottom: 10px;
}
.product-box-right-left-weight{
    font-family: var(--font-family);
font-weight: 500;
font-size: 24px;
line-height: 150%;
text-align: left;
color: #000;
}
.product-box-right-box-right{
    display: flex;
    align-items: center;
}
.product-box-right-box-right-btn{
    border-radius: 100px;
padding: 10px 15px;
width: 200px;
height: 44px;
background: var(--color-cart-btn);
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
color: #fff;
border: none;
}
.product-box-right-box-righ-link{
    border-radius: 100px;
background: var(--color-cart-btn-2);
width: 42px;
height: 42px;
}
.product-box-right-box-right-link-img{
    display: block;
   width: 100%;
   padding: 14px;
}
.product-box-right-list{
    margin-top: 54px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33.33px;
    row-gap: 5px;
}
.product-box-right-list-item{
   width: calc(25% - 33.33px);
   position: relative;
}
.product-box-right-list-item-btn{
    position: absolute;
    top: -15%;
    right: 10%;
    border-radius: 30px;
background: var(--color-cart-btn-2);
width: 30.19px;
height: 30.19px;
border: none;
}