.related{
    background: var(--color-baskground);
}
.related-box{
     max-width: 1280px;
    padding: 50px 0px;
    margin: 0 auto;
}
.related-box-title{
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 36px;
text-align: center;
color: var(--color-text-cart-h3);
}
.related-box-list{
    display: flex;
      gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.related-box-list-item{
    border: 4px solid var(--color-cart-btn);
border-radius: 24px;
padding: 6px 12px;
width: 249px;
height: 249px;
background: var(--color-text-cart-h3-light);
}
.related-box-list-item-img{
    display: block;
    margin: 0 auto;
}
.related-box-list-item-box-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.related-box-list-item-box-1-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 15px;
line-height: 150%;
color: var(--color-text-cart-h3);
}
.related-box-list-item-box-1-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
text-align: center;
color: var(--color-text-cart-h3);
}
.related-box-list-item-box-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.related-box-list-item-box-1-price{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--color-text--h1);
}
.related-box-list-item-box-1-btn{
display: flex;
align-items: center;
justify-content: center;
    border: none;
    background: transparent;
    border-radius: 24px;
    width: 24px;
    height: 24px;
background: var(--color-cart-btn-2);
}


.related-menu{
    margin-top: 100px;
}