@charset "UTF-8";
.bg {
  background: var(--color-text-cart-h3-light);
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  line-height: 1;
  height: 100%;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --card-stroke: #fceab0;
  --stroke: #1f2725;
  --akcent: #f77f47;
  --fon-vіdguki: #b4c05e;
  --tekst: #3c2a1e;
  --351615: #351615;
  --osnovnі-kolori-primari: #b53a2d;
  --osnovnі-kolori-secondary: #324e45;
  --osnovnі-kolori-accent: #1f4466;
  --osnovnі-kolori-highlight: #f2bf35;
  --osnovnі-kolori-backdground: #fff3d1;
  --osnovnі-kolori-textdark: #1d2324;
  --osnovnі-kolori-text-light: #fef2d2;
  --primary-primary-50: #fcf4f3;
  --primary-primary-100: #f8e8e6;
  --primary-primary-200: #f3d5d0;
  --primary-primary-300: #ebb7af;
  --primary-primary-400: #df8d81;
  --primary-primary-500: #d0685a;
  --primary-primary-600: #bd4e3f;
  --primary-primary-700: #a84335;
  --primary-primary-800: #83372c;
  --primary-primary-900: #6e322a;
  --primary-primary-950: #3b1711;
  --secondary-secondary-1: #deece6;
  --secondary-secondary-2: #93c0ad;
  --secondary-secondary-3: #558774;
  --secondary-secondary-4: #3a5c51;
  --secondary-secondary-5: #2a3c36;
  --accent-accent200: #cde1f3;
  --accent-accent300: #abcfeb;
  --accent-accent500: #6498d7;
  --accent-accent700: #426cb8;
  --accent-accent900: #334b77;
  --highlight-highlight100: #faf0ce;
  --highlight-highlight300: #ecc963;
  --highlight-highlight500: #de9a3c;
  --highlight-highlight600: #c3782f;
  --highlight-highlight900: #6b391d;
  --color-baskground: var(--highlight-highlight200);
  --color-baskground-2: var(--highlight-highlight300);
  --color-baskground-cart-1: var(--osnovnі-kolori-highlight);
  --color-baskground-cart-2: var(--osnovnі-kolori-secondary);
  --color-elementi: var(--osnovnі-kolori-accent);
  --color-cart-btn: var(--osnovnі-kolori-secondary);
  --color-text-cart-h3: var(--osnovnі-kolori-textdark);
  --color-text-cart-h5: var(--osnovnі-kolori-textdark);
  --color-text-cart-h5light: var(--osnovnі-kolori-text-light);
  --color-text-cart-h3-light: var(--osnovnі-kolori-text-light);
  --color-text--h1: var(--osnovnі-kolori-primari);
  --color-text--h2: var(--osnovnі-kolori-textdark);
  --color-cart-btn-2: var(--osnovnі-kolori-primari);
  --highlight-highlight200: #f7d694;
}

:root {
  --font-family: "Jura", sans-serif;
  --second-family: "Roboto Condensed", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Nunito", sans-serif;
  --font5: "Baloo 2", sans-serif;
  --font6: "Abril Fatface", sans-serif;
  --font7: "Poppins", sans-serif;
}

.header-nav {
  margin: 0 auto;
  padding-top: 36px;
  display: flex;
  align-items: center;
  max-width: 1222px;
  position: relative;
}

.header-nav-logo {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  text-align: center;
  background: linear-gradient(180deg, #f2bf35 0.96%, #b53a2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 205px;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-right: 258px;
}

.header-nav-list-item-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-cart-h3);
  text-decoration: none;
}

.header-nav-btn-bucket {
  background: transparent;
  border: none;
  margin-right: 12px;
  position: relative;
}

.header-nav-btn-bucket-number {
  position: absolute;
  top: 18px;
  right: 0;
  border-radius: 50px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  background: var(--osnovnі-kolori-highlight);
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--osnovnі-kolori-text-light);
}

.header-nav-btn-login {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-cart-h3);
  margin-right: 18px;
  border: none;
  background: transparent;
}

.header-nav-btn-register {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  border: none;
  color: var(--color-text-cart-h3-light);
  background: var(--color-cart-btn);
  border: 1px solid var(--color-text-cart-h3);
  border-radius: 100px;
  padding: 5px 20px;
  width: 176px;
  height: 34px;
}

.header-nav-bucket {
  border-radius: 0 0 50px 50px;
  width: 450px;
  height: 694px;
  background: var(--color-baskground-cart-2);
}

.header-nav-bucket-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-cart-h3-light);
  margin-top: 25px;
  margin-bottom: 16px;
}

.header-nav-bucket-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.header-nav-bucket-list-item {
  border-radius: 30px;
  padding: 10px;
  background: var(--color-text-cart-h5light);
}

.header-nav-bucket-list-item-right-close-btn {
  display: block;
  margin-left: auto;
  border: none;
  background: transparent;
}

.header-nav-bucket-list-item-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-nav-bucket-list-item-box-img {
  display: block;
  width: 100px;
  height: 80px;
}

.header-nav-bucket-list-item-box-middle-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-bottom: 9px;
}

.header-nav-bucket-list-item-box-middle-price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.header-nav-bucket-list-item-box-middle-weight {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000;
}

.header-nav-bucket-list-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-nav-bucket-list-item-box-right {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 11px;
  padding: 0px 4px;
  width: 92px;
  height: 44px;
  background: var(--color-baskground);
}

.btn {
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 24px;
}

.span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.btn-1 {
  color: #000;
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 24px;
}

.order-btn {
  display: block;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--color-text-cart-h3);
  border-radius: 50px;
  padding: 10px 30px;
  width: 157px;
  height: 44px;
  border: none;
  background: var(--color-baskground-cart-1);
  margin-top: 51px;
}

.header-nav-pop-up {
  display: none;
  position: absolute;
  top: 80px;
  right: 20px;
  border: 3px solid var(--color-elementi);
  border-radius: 0 0 50px 50px;
  padding: 24px 61px;
  width: 472px;
  height: 542px;
  background: var(--color-baskground);
}

.header-nav-pop-up-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-top: 34px;
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.header-nav-pop-up-title-number {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
}

.header-nav-pop-up-input {
  border: 2px solid var(--color-text-cart-h3);
  border-radius: 10px;
  padding: 10px 14px;
  width: 350px;
  height: 56px;
  background: var(--color-text-cart-h3-light);
  margin-bottom: 80px;
}

.header-nav-pop-up-btn {
  margin: 0 auto;
  display: block;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  padding: 8px 24px;
  width: 223px;
  height: 40px;
  background: var(--color-cart-btn);
}

.header-box {
  max-width: 1171px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.header-box-left {
  display: flex;
  flex-direction: column;
}

.header-box-left-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 96px;
  line-height: 90%;
  letter-spacing: -0.02em;
  color: var(--color-text--h1);
  margin-bottom: 24px;
  max-width: 729px;
}

.header-box-left-title-font {
  font-size: 86px;
}

.header-box-left-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-transform: lowercase;
  color: var(--color-text-cart-h3);
  max-width: 549px;
  margin-bottom: 40px;
}

.header-box-left-box {
  display: flex;
  align-items: center;
  position: relative;
}

.header-box-left-box-btn {
  background: var(--color-cart-btn);
  border-radius: 100px;
  padding: 10px 15px;
  width: 200px;
  height: 44px;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.header-box-left-box-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 100px;
  background: var(--color-cart-btn-2);
  width: 42px;
  height: 42px;
  margin-right: 24px;
}

.header-box-left-box-img-1 {
  position: relative;
  top: 0;
  left: 0;
}

.header-box-left-box-img-2 {
  position: relative;
  top: 0;
  left: -6px;
}

.header-box-left-box-img-3 {
  position: relative;
  top: 0;
  left: -10px;
}

.header-box-left-box-reviews {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 26px;
}

.header-box-left-box-reviews-text-client {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: var(--color-text-cart-h3);
}

.header-box-left-box-reviews-box {
  display: flex;
  align-items: center;
  gap: 2px;
}

.header-box-left-box-reviews-text {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--color-elementi);
}

.header-box-left-box-reviews-text-font {
  font-size: 14px;
}

.menu {
  max-width: 1087px;
  margin: 0 auto;
}

.menu-list {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.menu-list-second {
  justify-content: center;
}

.menu-list-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-list-item-img {
  display: block;
  width: 100%;
}

.menu-list-item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-cart-h3);
}

.best {
  background-image: url(../img/Топ\ 10\ \(1\).png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding-bottom: 122px;
}

.best-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: var(--color-text-cart-h3-light);
  padding-top: 60px;
  margin-bottom: 40px;
}

.best-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.best-list-item {
  border: 8px solid var(--card-stroke);
  border-radius: 24px;
  width: 264px;
  background: var(--color-text-cart-h3-light);
}
.best-list-item > div {
  border: 4px solid var(--color-cart-btn);
  border-radius: 24px;
  padding: 6px;
}

.best-list-item-img {
  display: block;
  margin: 0 auto;
}

.best-list-item-box-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.best-list-item-box-1-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-cart-h3);
}

.best-list-item-box-1-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-cart-h3);
}

.best-list-item-box-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.best-list-item-box-1-price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text--h1);
}

.best-list-item-box-1-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  background: var(--color-cart-btn-2);
}

.priorities {
  max-width: 1124px;
  margin: 0 auto;
}

.priorities-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: var(--color-text-cart-h3);
  margin-top: 50px;
  margin-bottom: 50px;
}

.priorities-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.priorities-list-item {
  border-radius: 50px;
  width: 536px;
  height: 260px;
  background: var(--color-baskground-cart-2);
}

.priorities-list-item-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px 35px;
}

.priorities-list-item-box-left-img {
  border: 6px solid var(--color-text-cart-h5light);
  border-radius: 30px;
  width: 200px;
  height: 200px;
}

.priorities-list-item-box-right-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-text-cart-h5light);
  max-width: 240px;
  margin-bottom: 8px;
}

.priorities-list-item-box-right-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-cart-h5light);
  max-width: 220px;
}

.reviews {
  max-width: 1234px;
  margin: 0 auto;
  padding-bottom: 83px;
}

.reviews-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #201e13;
  margin-top: 50px;
  margin-bottom: 50px;
}

.reviews-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26.8px;
}

.reviews-list-item {
  background: var(--color-text-cart-h3-light);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-1 {
  border: 2.4px solid var(--color-elementi);
  border-radius: 24px;
  padding: 19px 12px;
  width: 185px;
  height: 341px;
}

.card-2 {
  border: 2.7px solid var(--color-elementi);
  border-radius: 27px;
  padding: 21px 14px;
  width: 208px;
  height: 386px;
}

.card-3 {
  border: 3px solid var(--color-elementi);
  border-radius: 30px;
  padding: 24px 16px;
  width: 232px;
  height: 404px;
}

.card-4 {
  border: 2.7px solid var(--color-elementi);
  border-radius: 27px;
  padding: 21px 14px;
  width: 208px;
  height: 386px;
}

.card-5 {
  border: 2.4px solid var(--color-elementi);
  border-radius: 24px;
  padding: 19px 12px;
  width: 185px;
  height: 341px;
}

.reviews-list-item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 19px;
  line-height: 150%;
  text-align: center;
  color: var(--color-cart-btn-2);
  margin-top: 19.2px;
  margin-bottom: 12px;
}

.reviews-list-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-cart-h3);
  max-width: 160px;
  margin-bottom: 9.6px;
}

.reviews-button {
  display: block;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  padding: 8px 14px;
  width: 200px;
  height: 40px;
  background: var(--color-cart-btn);
  margin-top: 38px;
  margin-bottom: 83px;
}

.footer {
  background-image: url(../img/футер.png);
  padding-top: 65px;
  padding-bottom: 93px;
}

.footer-title {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 33px;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  background: linear-gradient(180deg, #f2bf35 0.96%, #b53a2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-box {
  max-width: 1190px;
  margin: 0 auto;
  border-radius: 30px;
  background: var(--osnovnі-kolori-text-light);
  padding: 40px 40px 40px 30px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-top: 149px;
}

.footer-box-left-ul {
  display: flex;
  gap: 92px;
  margin-left: 40px;
}

.footer-box-left-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-text-cart-h3);
  margin-bottom: 30px;
}

.footer-box-left-ul-list {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.footer-box-left-ul-list-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--color-text-cart-h3);
  text-decoration: none;
}

.footer-box-middle-title-orders {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-text-cart-h3);
  margin-bottom: 16px;
}

.footer-box-middle-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-box-middle-list-item-num {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-text-cart-h3);
  text-decoration: none;
}

.footer-box-middle-title-offer {
  margin-top: 30px;
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-text-cart-h3);
  max-width: 280px;
}

.footer-box-middle-num-offer {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-text-cart-h3);
  text-decoration: none;
}

.footer-box-right-hours-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-text-cart-h3);
}

.footer-box-right-hours-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-text-cart-h3);
  margin-top: 16px;
  margin-bottom: 30px;
}

.footer-box-right-media-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-text-cart-h3);
  margin-bottom: 16px;
}

.footer-box-right-media-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 30px;
}

.footer-box-right-media-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: var(--color-cart-btn-2);
}

.footer-box-right-media-list-item-inst {
  border-radius: 30%;
}

.footer-box-right-media-list-item-link-img {
  display: block;
}

.footer-box-right-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  width: 200px;
  height: 40px;
  background: var(--color-cart-btn);
}

.footer-rights-text {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: var(--color-text-cart-h3-light);
  margin-top: 24px;
}

.product {
  max-width: 1123px;
  margin: 0 auto;
}

.product-box {
  display: flex;
  gap: 50px;
  margin-top: 77px;
  border: 5px solid var(--color-baskground-cart-2);
  border-radius: 50px;
  padding: 50px;
  margin-bottom: 34px;
}

.product-box-right-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  color: #000;
  margin-bottom: 14px;
}

.product-box-right-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  max-width: 473px;
  margin-bottom: 35px;
}

.product-box-right-box {
  display: flex;
  align-items: center;
  gap: 45px;
}

.product-box-right-left-price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  text-align: left;
  color: var(--color-cart-btn-2);
  margin-bottom: 10px;
}

.product-box-right-left-weight {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: left;
  color: #000;
}

.product-box-right-box-right {
  display: flex;
  align-items: center;
}

.product-box-right-box-right-btn {
  border-radius: 100px;
  padding: 10px 15px;
  width: 200px;
  height: 44px;
  background: var(--color-cart-btn);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  border: none;
}

.product-box-right-box-righ-link {
  border-radius: 100px;
  background: var(--color-cart-btn-2);
  width: 42px;
  height: 42px;
}

.product-box-right-box-right-link-img {
  display: block;
  width: 100%;
  padding: 14px;
}

.product-box-right-list {
  margin-top: 54px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 33.33px;
       column-gap: 33.33px;
  row-gap: 5px;
}

.product-box-right-list-item {
  width: calc(25% - 33.33px);
  position: relative;
}

.product-box-right-list-item-btn {
  position: absolute;
  top: -15%;
  right: 10%;
  border-radius: 30px;
  background: var(--color-cart-btn-2);
  width: 30.19px;
  height: 30.19px;
  border: none;
}

.related {
  background: var(--color-baskground);
}

.related-box {
  max-width: 1280px;
  padding: 50px 0px;
  margin: 0 auto;
}

.related-box-title {
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: var(--color-text-cart-h3);
}

.related-box-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.related-box-list-item {
  border: 4px solid var(--color-cart-btn);
  border-radius: 24px;
  padding: 6px 12px;
  width: 249px;
  height: 249px;
  background: var(--color-text-cart-h3-light);
}

.related-box-list-item-img {
  display: block;
  margin: 0 auto;
}

.related-box-list-item-box-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.related-box-list-item-box-1-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: var(--color-text-cart-h3);
}

.related-box-list-item-box-1-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-cart-h3);
}

.related-box-list-item-box-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.related-box-list-item-box-1-price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text--h1);
}

.related-box-list-item-box-1-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  background: var(--color-cart-btn-2);
}

.related-menu {
  margin-top: 100px;
}

.history-title {
  margin-top: 104px;
  margin-bottom: 36px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000;
}

.history-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.history-text-1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 40px;
}

.history-text-2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.filter {
  max-width: 1114px;
  margin: 0 auto;
}

.filter-list {
  margin-top: 37px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter-list-item-btn {
  border-radius: 14px;
  padding: 10px 30px;
  background: var(--color-elementi);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--color-text-cart-h3-light);
  border: none;
}

.filter-breadcrumb {
  display: flex;
  gap: 10px;
}

.delivery {
  max-width: 981px;
  margin: 0 auto;
  margin-top: 104px;
}

.delivery-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  border: 4px solid var(--color-text-cart-h3);
  border-radius: 50px;
  padding: 30px 50px;
  width: 981px;
  height: 356px;
  margin-bottom: 50px;
}

.delivery-box-left-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-bottom: 20px;
}

.delivery-box-left-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-cart-h5);
  max-width: 446px;
}

.delivery-payment-box {
  border: 4px solid var(--color-text-cart-h3);
  border-radius: 50px;
  padding: 30px 50px;
  width: 981px;
  height: 397px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 183px;
}

.delivery-payment-box-right-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-bottom: 10px;
}

.delivery-payment-box-right-title-list {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-bottom: 30px;
  margin-left: 50px;
}

.delivery-payment-box-right-list {
  list-style: square;
  margin-bottom: 25px;
}

.delivery-payment-box-right-list-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-left: 50px;
  max-width: 556px;
}

.delivery-payment-box-right-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-left: 20px;
}

.discount {
  max-width: 1280px;
  margin: 0 auto;
}

.discount-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-top: 65px;
  margin-bottom: 40px;
  text-align: center;
}

.discount-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 273px;
}

.discount-list-item {
  display: flex;
  align-items: center;
  gap: 40px;
  border-radius: 50px;
  width: 546px;
  height: 320px;
  background: var(--highlight-highlight200);
  border: 6px solid var(--color-text-cart-h3);
  padding-left: 10px;
  padding-top: 41px;
  padding-right: 53px;
  padding-bottom: 41px;
}

.discount-list-item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000;
  max-width: 257px;
}

.discount-list-item-img {
  display: block;
  width: 100%;
}/*# sourceMappingURL=style.css.map */