.bg {
  background:  var(--color-text-cart-h3-light);
}
.container{
  max-width: 1190px;
  margin: 0 auto;
}
@import "./reset";
@import "./header";
@import "./menu";
@import "./best";
@import "./priorities";
@import "./reviews";
@import "./footer";

@import "./product";
@import "./related";
@import "./history";
@import "./filter";
@import "./delivery";
@import "./discount";